.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advinha-full-width{
  width: 100%;


}
.botao{
  width: 100%;
  margin-top: 5px;
}


.resultado{
  position: fixed;
  top: 10%;
  background: lightgray;
}
